<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <% if(!indexPage){ %>
            Application not found
        <% } else { %>
           Applications list
         <% } %>
    </title>

</head>
<body>
    <h1>
        <% if(!indexPage){ %>
            Application not found
        <% } else { %>
           Applications list
         <% } %>
    </h1>
    <h2>
        Select the app below:
    </h2>
    <% apps.forEach(function(app) { %>
        <div>
            <% if(!indexPage){ %>
                <a href="<%= app %>"><%= app %></a>
            <% } else { %>
               <a href="/app/<%= app %>"><%= app %></a>
             <% } %>

        </div>
    <% }); %>
</body>
</html>
